.app{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app.bg1{
    background: url(/public/imgs/bg1.webp) no-repeat fixed bottom;
    background-size: cover;
}
.app.bg2{
    background: url(/public/imgs/bg2.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg3{
    background: url(/public/imgs/bg3.webp) no-repeat fixed bottom;
    background-size: cover;
}
.app.bg4{
    background: url(/public/imgs/bg4.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg5{
    background: url(/public/imgs/bg5.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg6{
    background: url(/public/imgs/bg6.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg7{
    background: url(/public/imgs/bg7.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg8{
    background: url(/public/imgs/bg8.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg9{
    background: url(/public/imgs/bg9.webp) no-repeat fixed center;
    background-size: cover;
}
.app.bg10{
    background: url(/public/imgs/bg10.webp) no-repeat fixed center;
    background-size: cover;
}
.title{
    font-size: 2.3rem;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin-left: 50px;
    transition: all .3s ease-in-out;
    writing-mode: vertical-rl; /* Establece el modo de escritura vertical de derecha a izquierda */
    text-orientation:sideways-right; /*Hace que las letras cambien su orientacion, en este caso hacia la derecha */
    white-space: nowrap; /* Evita que el título se divida en varias líneas */
    transform: rotate(180deg);
    letter-spacing: 15px;
    color: black;
    animation: color-change 4s infinite; 
}   /* Nombre dado a la aminacion    5 segundos durara 1 animacion   infinite hace que sea loop*/

@keyframes color-change {
  0% {
    color: #000; /* Color con el que inicia */
  }
  50% {
    color: #fff; /* Color intermedio */
  }
  100% {
    color: #000; /* Color con el que termina, como sugerencia hacer que sea el mismo color con el que inicia para evitar cambios de color de golpe. */
  }  
}

@media (max-width: 690px) {
  .title{
    margin-left: 0;
  }
}

@media (max-width: 655px) {
  .app{
    flex-direction: column;
  }
  .title{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    margin: 25px 0 0 0;
  }
}

@media (max-width: 330px) {
  .title{
    font-size: 1.8rem;
    letter-spacing: 10px;
  }
}
